<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/media.css">
  <title>KANBAN</title>
</head>
<body>

  
  <div id="app" v-bind:class = "{ 'dark__theme': darkTheme, 'normal__pos': person }" class = "trans background">
    
<!-- ***************ДОБАВЛЕНИЕ НОВОЙ ЗАДАЧИ*********************** -->
    <header v-if = '!person'>
      <div class = "main__content trans" v-bind:class = "{ 'dark__content': darkTheme }">
        <h1>Канбан</h1>
        <p>Добавьте задачу:</p>
        <div class = "header__input trans" v-bind:class = "{ 'dark__mode': darkTheme }">
          <input type="text" placeholder="Описание задачи" v-on:input = "DescValue = $event.target.value" class = "trans">
          <i v-if = "darkTheme" class="fa fa-plus-circle fa-2x trans dark__hover" aria-hidden="true" v-on:click = "checkTextInInput(DescValue)"></i>
          <i v-else class="fa fa-plus-circle fa-2x trans light__hover" aria-hidden="true" v-on:click = "checkTextInInput(DescValue)"></i>
        </div>
      </div>

<!-- ***************ПЕРЕКЛЮЧАТЕЛЬ ТЕМ*********************** -->
      <div class="switch">
        <label class="switch_label" for="customCheck1" :class = "{ 'p_dark': darkTheme }">Темная тема</label>
        <input type="checkbox" class="switch_input" id="customCheck1" @click = "change_theme()">
      </div>

    </header>

    <!-- *******************START MODAL********************* -->
    <div v-if = "person" class = "reg__form" v-bind:class = "{ 'dark__reg__form': darkTheme}">
      <input type="text" placeholder="Имя ответственного" v-model = "userName">
      <button class = "btn__mode" v-on:click = "checkName(userName)">Добавить</button>
    </div>
    


<!-- ***************ДОСКИ С КАРТОЧКАМИ*********************** -->
    <main v-if = '!person'>
      <!-- **********План************ -->
      <div class = "cards trans plan__content" v-bind:class = "{ 'dark__block': darkTheme }">
        <h3 class = "h3">План ( {{ schedule[0] }} )</h3>
        <ul
        @drop='onDrop($event, "plan")' 
        @dragover.prevent
        @dragenter.prevent>
          <li 
          v-for='(item, index) in plan'
          v-if = "item.tag == 'plan'"
          v-bind:class = "{ 'theme_dark': darkTheme }" 
          class = "trans" 
          :key='item.description' 
          draggable
          @dragstart='startDrag($event, item)'>
            <h3 class = "bold lightpurple__color">{{ item.title }}</h3>
            <p class = "another__color edit__font">{{ item.description }}</p>
            <div class = "sub__menu trans" v-bind:class = "{ 'dark-sub__menu': darkTheme }">
              <button @click = "ready_button(index)" v-bind:class = "{ 'dark__button': darkTheme }"> <img src="./img/ready.png" alt="ready" width="27"> </button>
              <button @click = "edit_app_block(index)" v-bind:class = "{ 'dark__button': darkTheme }"s> <img src="./img/edit.png" alt="edit task" width="28"> </button>
            </div>
          </li>
        </ul>
      </div>

      <!-- **********В работе************ -->
      <div class = "in-work__content cards trans" v-bind:class = "{ 'dark__block': darkTheme }">
        <h3 class = "h3">В работе ( {{ schedule[1] }} )</h3>
        <ul
        @drop='onDrop($event, "in-work")' 
        @dragover.prevent
        @dragenter.prevent>
          <li 
          v-for='(item, index) in plan'
          v-if = "item.tag == 'in-work'"
          v-bind:class = "{ 'theme_dark': darkTheme }" 
          class = "trans" 
          :key='item.description' 
          draggable
          @dragstart='startDrag($event, item)'>
            <h3 class = "bold lightpurple__color">{{ item.title }}</h3>
            <p class = "another__color edit__font">{{ item.description }}</p>
            <p class = "bold">Начало выполнения:</p>
            <p class = "another__color edit__font">{{ item.time }}</p>
            <p class = "bold">Ответственный: </p>
            <p class = "another__color edit__font">{{ item.name }}</p>
            <div class = "sub__menu trans" v-bind:class = "{ 'dark-sub__menu': darkTheme }">
              <button @click = "ready_button(index)" v-bind:class = "{ 'dark__button': darkTheme }"> <img src="./img/ready.png" alt="ready" width="27"> </button>
              <button @click = "edit_app_block(index)" v-bind:class = "{ 'dark__button': darkTheme }"> <img src="./img/edit.png" alt="edit task" width="28"> </button>
            </div>
          </li>
        </ul>
      </div>

      

      <!-- **********Готово************ -->
      <div class = "ended__content cards trans" v-bind:class = "{ 'dark__block': darkTheme }">
        <h3 class = "h3">Готово ( {{ schedule[2] }} )</h3>
        <ul
        @drop='onDrop($event, "ended")' 
        @dragover.prevent
        @dragenter.prevent>
          <li 
          v-for='(item, index) in plan'
          v-if = "item.tag == 'ended'"
          v-bind:class = "{ 'theme_dark': darkTheme }" 
          class = "trans" 
          :key='item.description' 
          draggable
          @dragstart='startDrag($event, item)'>
            <h3 class = "bold lightpurple__color">{{ item.title }}</h3>
            <p class = "another__color edit__font">{{ item.description }}</p>
            <p class = "bold">Начало выполнения:</p>
            <p class = "another__color edit__font">{{ item.time }}</p>
            <p class = "bold">Потраченное время</p>
            <p class = "another__color edit__font" style="width: 80%">{{ item.time_of_work }}</p>
            <p class = "bold">Ответственный</p>
            <p class = "another__color edit__font">{{ item.name }}</p>
            <div class = "sub__menu trans" v-bind:class = "{ 'dark-sub__menu': darkTheme }">
              <button @click = "edit_app_block(index)" v-bind:class = "{ 'dark__button': darkTheme }"> <img src="./img/edit.png" alt="edit task" width="28"> </button>
              <button @click = "delete(index)" v-bind:class = "{ 'dark__button': darkTheme }"> <img src="./img/cross.png" alt="cancel" width="28"> </button>
            </div>
          </li>
        </ul>
      </div>
    </main>

    <!-- *******************MODAL********************************* -->
    <transition name = "modal_window">
      <div class = "sub__main" v-if = "windowVisibility">
        <div class="main__form light__border" v-bind:class = "{ 'dark__background': darkTheme }">

          <!-- ********************** -->
          <div class="x" v-bind:class = "{ 'dark__mode': darkTheme }">
            <i v-if = "darkTheme" class="fa fa-times fa-3x dark__hover" aria-hidden="true" v-on:click = "windowVisibility = !windowVisibility"></i>
            <i v-else class="fa fa-times fa-3x" aria-hidden="true" v-on:click = "windowVisibility = !windowVisibility"></i>
          </div>
          <div class = "flex__container">
            <div class = "flex-form__object dark-header__content" v-bind:class = "{ 'dark__mode': darkTheme }">
              <p>Описание задания:</p>
              <input type="text" placeholder="Описание" v-model = "search">
            </div>
            <div class = "flex-form__object dark-header__content" v-bind:class = "{ 'dark__mode': darkTheme }">
              <p>Статус:</p>
              <select name="" id="sel" v-model = "status" v-bind:class = "{ 'dark__sel': darkTheme }">
                <option value="plan">План</option>
                <option value="in-work">В работе</option>
                <option value="ended">Готово</option>
              </select>
            </div>
            <div class = "flex-form__object dark-header__content" v-bind:class = "{ 'dark__mode': darkTheme, 'null': boolevo[0] }">
              <p>Ответственный:</p>
              <input type="text" placeholder="Имя" v-model = "name">
            </div>
            <div class = "flex-form__object dark-header__content" v-bind:class = "{ 'dark__mode': darkTheme, 'null': boolevo[0] }">
              <p>Дата и время начала:</p>
              <input type="text" placeholder="01.01.2020, 00:00:00" v-model = "start">
            </div>
            <div class = "flex-form__object dark-header__content" v-bind:class = "{ 'dark__mode': darkTheme, 'null': boolevo[0], 'null': boolevo[1]  }">
              <p>Дата и время завершения:</p>
              <input type="text" placeholder="01.01.2020, 00:00:00" v-model = "end">
            </div>
            <button v-if = "!darkTheme" v-on:click = "add_data_to_array(search, status, name, start, end)" v-bind:class = "{ 'dark_save': darkTheme }">Сохранить</button>
            <button v-else v-on:click = "add_data_to_array(search, status, name, start, end)" v-bind:class = "{ 'dark_save': darkTheme }">Сохранить</button>
          </div>

        </div>
      </div>
    </transition>
    <div class = "back" v-if = "windowVisibility"></div>
    <footer>

    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src = 'js/script.js'></script>
  <!-- <style type="text/css">#hellopreloader>p{display:none;}#hellopreloader_preload{display: block;position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;min-width: 1000px;background: #34495E url(http://hello-site.ru//main/images/preloads/circles.svg) center center no-repeat;background-size:159px;}</style> -->
  <!-- <div id="hellopreloader"><div id="hellopreloader_preload"></div><p><a href="http://hello-site.ru">Hello-Site.ru. Бесплатный конструктор сайтов.</a></p></div> -->
  <!-- <script type="text/javascript">var hellopreloader = document.getElementById("hellopreloader_preload");function fadeOutnojquery(el){el.style.opacity = 1;var interhellopreloader = setInterval(function(){el.style.opacity = el.style.opacity - 0.05;if (el.style.opacity <=0.05){ clearInterval(interhellopreloader);hellopreloader.style.display = "none";}},16);}window.onload = function(){setTimeout(function(){fadeOutnojquery(hellopreloader);},1500);};</script> -->
</body>
</html>